h3 {
    color: red;
}
#heading1 {
    color: blue;
}
#heading2 {
    color: gold;
}
#heading3 {
    color: maroon;
}
#heading4{
    color: indigo;
}
#headin5 {
    color: yellowgreen;
}
p {
    background-color: red;
}
.pgraph {
    border: 2px solid black;
    background-color:hotpink;
    padding: 30px;
    margin: 20px;
}
.head1 {
    border: 2px solid red;
    background-color: brown;
    padding: 30px;
    margin: 20px;
}
.head2 {
    border: 2px solid beige;
    background-color: blue;
    padding: 30px;
    margin: 20px;
}
.head3 {
    border: 2px solid greenyellow;
    background-color: blueviolet;
    padding: 30px;
    margin: 20px;
}
.head4 {
    border: 2px solid mediumspringgreen;
    background-color: yellow;
    padding: 30px;
    margin: 20px;
}
.head5 {
    border: 2px solid mediumvioletred;
    background-color: wheat;
    padding: 30px;
    margin: 20px;
}